VITE_FIREBASE_API_KEY=AIzaSyA6VUTALpBUvkWa8q3QVMhfFP164T_plIo
VITE_FIREBASE_AUTH_DOMAIN=auth-hifi.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=auth-hifi
VITE_FIREBASE_STORAGE_BUCKET=auth-hifi.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=832447543984
VITE_FIREBASE_APP_ID=1:832447543984:web:99a04a3a6e8e7e4c681975

VITE_APP_URL=http://localhost:5173
